#kitty{
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
}

.darkbluebackground
{
    background-color: rgba(30,30,52,100);
}

.darkdodgerbluebutton
{
    background-color: rgba(40,40,52,100);
    border: 2px solid rgba(144,144,144,255);
    border-radius: 2px;
}


.darkwhitetext
{
    color: rgba(144,144,144,255);
}

.darkwhiteborder
{
    border: 2px solid rgba(144,144,144,255);
}

a
{
    font-size: 14.8px;
    transition: filter 0.1s ease;
}
a:hover
{
    filter:brightness(220%);
}

.filtered-image
{
    transition: filter 1s ease;
}

.filtered-image:hover{
    filter:brightness(350%);
}

.stretched-image
{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.glow
{
    transition: filter 0.1s ease;
}

.glow:hover{
    filter:brightness(220%);
}