#kitty{
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
}

.bluebackground
{
    background-color: blue;
}

.dodgerbluebutton
{
    background-color: dodgerblue;
    border: 2px solid white;
}


.whitetext
{
    color: white;
}